<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="InternetKillSwitchService.KillSwitchService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/KillSwitchService" binding="netNamedPipeBinding"
                bindingConfiguration="InternetKillSwitchService.KillSwitchService"
                contract="KillSwitch.IKillSwitchService" name="InternetKillSwitchService.KillSwitchService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>