<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="InternetKillSwitchService.Services.KillSwitchService"
               behaviorConfiguration="default">
        <endpoint name="InternetKillSwitchService.KillSwitchService"
             address="net.pipe://localhost/KillSwitchService"
             binding="netNamedPipeBinding"
             contract="InternetKillSwitchService.Interfaces.IKillSwitchService" />
        <endpoint address="net.pipe://localhost/KillSwitchService/MEX"
             binding="mexNamedPipeBinding"
             contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
